<div  class="bg-2paleta h-full">
    <div class="container   xl:max-w-6xl mx-auto p-7 h-full">
        <div class="container bg-amarilloclaro grid-rows-2 items-center justify-center">
            <h1>titulo pendiente</h1>
            <div class="grid  grid-flow-col gap-4 p-4">
                <div class=" bg-white rounded">
                    <div class=" p-10 text-black">aqui van los datos actuales</div>
                </div>
    
                <div class=" col-span-2  px-2 bg-white rounded flex justify-center">
                    <div style="display:block;  width: 100%;" class="bg-white rounded">
                        <canvas
                        baseChart
                        width="3" 
                        height="2"
                        [options]="optionsMes"
                        [datasets]="lineChartPromedio"
                        [labels]="labelsPromedio"
                        type="line"
                        ></canvas>
                    </div>
                </div>
                
                </div>
                <div class="grid grid-cols-11   grid-flow-col  px-9 pb-4">
                    <div class=" col-span-5   flex justify-center">
                        <div style="display:block;width: 100%;" class="bg-white rounded " >
                            <canvas
                            baseChart
                            width="5" 
                            height="3"
                        [options]="optionsMinTemp"

                            [datasets]="lineChartxMinTemp"
                            [labels]="labelsxMin"
                            type="line"
                            ></canvas>
                        </div> 
                    </div>
        
                    <div class="col-start-7 col-span-5  flex justify-center">
                        <div style="display:block; width: 100%;" class="bg-white rounded"  >
                            <canvas
                            baseChart
                            width="5" 
                            height="3"
                        [options]="optionsMinSun"

                            [datasets]="lineChartxMinSun"
                            [labels]="labelsxMin"
                            
                            type="line"
                            ></canvas>
                        </div> 
                    </div>
                    </div>
        </div>
    </div>
</div>

<!-- <p>
    Temperatura: {{temperatura}}
</p>
<p>
    Nivel de sol: {{sol}}
</p>
    <h1> Gráfica de promedio de temperatura y nivel de luz por mes</h1>
    
    <div style="justify-content: center; text-align: center;">
            Gráfica de temperaturas por minuto
            <br>
                <div style="display:block; height: 200px; width: 200px; "  >
                    <canvas
                    baseChart
                    width="200" 
                    height="200"
                    [datasets]="lineChartxMin"
                    [labels]="labelsxMin"
                    type="line"
                    ></canvas>
                </div> 
        </div>  -->