/* *{
    outline: 1px solid red!important;
  } 
 */
@media (min-width: 640px) {
    .floracion{
        height: 192px;
        width: 120px;
    }
}
.brote{
    background-image: url('../../../assets/img/brote.png') ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 96px;
    width: 60px;
}
.crecimiento{
    background-image: url('../../../assets/img/crecimiento.png') ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 96px;
    width: 60px;
}
.floracion{
    background-image: url('../../../assets/img/floracion.png') ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 96px;
    width: 60px;
}
.cosecha{
    background-image: url('../../../assets/img/cosecha.png') ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 96px;
    width: 60px;
}
