.grafica{
        background-size: 40%; 
        background-position-x: 50px;
        background-position-y: 50px;
        background-color: chocolate;
        background-size: length(50px);
    }
    .grid-cols-11{
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1rem) minmax(0, 1fr)  minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) ;
    }