
   <div class=" z-10">
        <form  (ngSubmit)="editarUser()" [formGroup]="user" class="max-w-sm m-4 p-10 bg-2paleta rounded   w-96  content-center " >
            <p class="text-center text-lg font-bold text-cafeLogo">Editar Perfil</p>
              <div class="">
                <label class="block text-sm text-cafeLogo font-semibold" for="nombre">Nombre: </label>
                <input formControlName="nombre" class="w-full  px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
                type="text" id="nombre"  required>
              </div>
              <div class="mt-2">
                <label class="block text-sm text-cafeLogo font-semibold" for="apellido_paterno">Apellido Paterno: </label>
                <input formControlName="apellido_paterno" class="w-full  px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
                type="text" id="apellido_paterno" required>
              </div>
              <div class="mt-2">
                <label class="block text-sm text-cafeLogo font-semibold" for="apellido_materno">Apellido Materno: </label>
                <input formControlName="apellido_materno" class="w-full  px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
                type="text" id="apellido_materno" required>
              </div>
              <div class="mt-2">
                <label class="block text-sm text-cafeLogo font-semibold" for="email">E-mail: </label>
                <input formControlName="email" class="w-full  px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
                type="email" id="email"   required>
              </div>
              <div class="mt-2">
                <label class="block text-sm text-cafeLogo font-semibold" for="telefono">Teléfono: </label>
                <input formControlName="telefono" class="w-full  px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
                type="number" id="telefono" required>
              </div>
              <div class="mt-2">
                <label class="block text-sm text-cafeLogo font-semibold" for="ocupacion">Ocupación: </label>
                <input formControlName="ocupacion" class="w-full  px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
                type="text" id="ocupacion"  required>
              </div>
              <div class=" ml-28 mt-4 items-center flex justify-between">
                <button class=" place-self-center text-center px-4 py-1 font-bold tracking-wider bg-cafeLogo hover:bg-5paleta rounded text-5paleta hover:text-cafeLogo"
                type="submit"  >Entrar</button>
                
                </div>
  
              
  
        </form>
  
    </div>