
<div class=" z-10">

<mat-form-field  color="bg-5paleta">
  <mat-label class="text-cafeLogo">Elige el tipo de Cultivo</mat-label>
  <mat-select   [(value)]="cultivoSeleccionado" panelClass="bg-5paleta" >
    <mat-option *ngFor="let cultivo of cultivos" [value]="cultivo.id" class="text-3paleta">
      {{cultivo.nombre}}
    </mat-option>
  </mat-select>
 
</mat-form-field>

<div class="  mt-4  grid grid-cols-2">
    <div>

     <button class="  text-center px-4 py-1 font-bold tracking-wider bg-cafeLogo hover:bg-5paleta rounded text-5paleta hover:text-cafeLogo"
     (click)="cerrarDialog()"
     >Cancelar</button>
    </div>
    <div>

     <button class="  text-center px-6 py-1 font-bold tracking-wider bg-cafeLogo hover:bg-5paleta rounded text-5paleta hover:text-cafeLogo"
     (click)="editarCultivosUsuario()">Agregar</button>
    </div>
     
     </div>

</div>
