
.card{
  background-color: rgba(255, 255, 255, 0.95);
}
.height-full-img{
  height: calc(100% - 10rem);
}  

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .swal2-styled.swal2-confirm.swalBtnColor {
    color: #FFC900
  }
   
/* *{
  outline: 1px solid red!important;
}
 */
@media (min-width: 501px){
  #main{
    background-image: url('../../../assets/img/fondo_login_horizontal.png') ;
    background-size: cover;
  }
}
@media (max-width: 500px){
  #main{
    background-image: url('../../../assets/img/fondo_login.png') ;
    background-size: cover;
  }
}