<div class=" bg-cover bg-4.5paleta">
  <div class="w-40 absolute ml-8 mt-2">
    <img src="../../../assets/img/huertitos logo verde.png" alt="">
  </div>

  
   <div class="container login  h-full flex flex-1 ml-20 pl-44 items-center ">
    <div class=" max-w-lg z-10 w-auto">
      <div class="leading-10 ">
     
   <div class=" z-10">
  
    
    <form  [formGroup]="user"  (ngSubmit)="agregarUsuario()" class="
     m-4 p-7 bg-2paleta rounded formulario ">
       
    <p class="text-center text-lg font-bold text-cafeLogo pb-1">Crear Perfil</p>
    <div class="grid grid-cols-2 gap-4 ">

      <div class="">
        <label class="block text-sm text-cafeLogo font-semibold" for="nombre">Nombre: </label>
        <input formControlName="nombre" class="w-full h-10 px-5  text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
        type="text" id="nombre"  required>
      </div>
      <div class="">
        <label class="block text-sm text-cafeLogo font-semibold" for="apellido_paterno">Apellido Paterno: </label>
        <input formControlName="apellido_paterno" class=" h-10 w-full  px-5  text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
        type="text" id="apellido_paterno" required>
      </div>
      <div class="">
        <label class="block text-sm text-cafeLogo font-semibold" for="apellido_materno">Apellido Materno: </label>
        <input formControlName="apellido_materno" class="h-10  w-full  px-5  text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
        type="text" id="apellido_materno" required>
      </div>
      <div class="">
        <label class="block text-sm text-cafeLogo font-semibold" for="email">E-mail: </label>
        <input formControlName="email" class=" h-10 w-full  px-5  text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
        type="email" id="email"   required>
      </div>
     
        <div class="">
        <label class="block text-sm text-cafeLogo font-semibold" for="password">Contraseña: </label>
        <input formControlName="password" class="h-10  w-full  px-5  text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
        type="password" id="password" required>
      </div>
      <div class="">
        <label class="block text-sm text-cafeLogo font-semibold" for="password2">Confirmar contraseña: </label>
        <input formControlName="password2" class=" h-10 w-full  px-5  text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
        type="password" id="password2" required>
      </div>
      
      <div class="">
        <label class="block text-sm text-cafeLogo font-semibold" for="telefono">Teléfono: </label>
        <input formControlName="telefono" class=" h-10 w-full  px-5  text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
        type="text" id="telefono" required>
      </div>
      <div class="">
        <label class="block text-sm text-cafeLogo font-semibold" for="ocupacion">Ocupación: </label>
        <input formControlName="ocupacion" class="h-10 w-full  px-5  text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" 
        type="text" id="ocupacion"  required>
      </div>
      
      <div class="w-full">
        <mat-form-field appearance="outline" class="text-cafeLogo  display: none;" style="width: 350px;">
          <mat-label class="text-cafeLogo">Selecciona el tipo de cultivo</mat-label>
          <mat-select  [(value)]="cultivoSeleccionado">
            <mat-option *ngFor="let cultivo of cultivos" [value]="cultivo.id">
              {{cultivo.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div class="mt-1">
          
      </div>
    </div>

<div class="pl-72 ">
  <button class="  w-36  px-4 py-1 font-bold tracking-wider bg-cafeLogo hover:bg-5paleta rounded text-5paleta hover:text-cafeLogo mt-5"
  type="submit"  >Crear</button>
</div>
           
    </form>

</div>

      </div>
    </div>
  </div>

  <div class="containerOlas  z-0">
    <div class="waves">
      <div class="wave circulo a"></div>
      <div class="wave circulo b"></div>
      <div class="wave circulo c"></div>
    </div>
  </div>
</div>