.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-toolbar{
  width:   auto;
  margin: 2rem 2rem 0 2rem !important;
  height: 4rem!important;
}
h1.example-app-name {
  margin-left: 8px;
}
.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  margin: 2rem!important;
}
/* *{
  outline: 1px solid red!important;
}  */
.mat-drawer .mat-sidenav{
  top: 6rem!important;
}

a .bg-fondo-verde-active{
  background: #0FB007;
}