<div  class="bg-2paleta h-full">
    <div class="container xl:max-w-6xl px-4">
        <h1 class="text-center"> Gráfica de promedio de temperatura y nivel de luz por mes</h1>
        <div  class="mx-auto">
            <canvas
            baseChart
            [datasets]="lineChartPromedio"
            [labels]="labelsPromedio"
            type="line"
            ></canvas>
        </div>
    </div>
</div>
<!-- las propiedades width y height del canva se refieren a la proporción que mantendrá la gráfica, no al tamaño que tomará -->
