<!-- FONDO -->
<div class=" h-auto sm:h-full flex items-center card">
    <!-- MARCO BCO -->
    <div class="flex flex-col  h-11/12 sm:w-full w-auto mx-auto m-[200px] px-2">
        <!-- TITULO -->
        <div class="pb-3 font-bold text-3xl tracking-wider text-center text-black">Cosas de </div>
        <!-- MAIN CONTAINER -->
        <div class=" text-black font-semibold flex flex-col sm:flex-col mx-auto sm:mx-0 text-justify h-full ">
            <!-- TEXTO -->
            <div class="text-ellipsis overflow-auto border-solid border-2 border-verde-oscuro-margen p-2 sm:mx-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer vitae justo eget magna fermentum iaculis eu. Nulla aliquet porttitor lacus luctus accumsan. Neque viverra justo nec ultrices dui sapien eget mi proin. Ultrices dui sapien eget mi proin sed libero enim sed. Enim facilisis gravida neque convallis a. Ac orci phasellus egestas tellus rutrum. Ut morbi tincidunt augue interdum. Neque vitae tempus quam pellentesque nec nam aliquam sem. Ac felis donec et odio pellentesque diam.
                Sit amet justo donec enim diam vulputate ut pharetra sit. Sit amet cursus sit amet dictum. Quis ipsum suspendisse ultrices gravida dictum fusce. Rutrum tellus pellentesque eu tincidunt tortor. Ornare massa eget egestas purus viverra. Pellentesque habitant morbi tristique senectus. Auctor elit sed vulputate mi sit. Feugiat nibh sed pulvinar proin gravida hendrerit. In pellentesque massa placerat duis ultricies lacus sed turpis. Fames ac turpis egestas sed tempus. Nisl suscipit adipiscing bibendum est ultricies integer. Volutpat blandit aliquam etiam erat. At lectus urna duis convallis convallis tellus id interdum velit. Nec nam aliquam sem et tortor. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque.
            </div>
            <!-- ETAPAS -->
            <div class="grid grid-cols-2 md:grid-cols-4 items-center p-2 text-center sm:mx-4">
                <img src="../../../assets/img/brote.png" class="h-32" >
                <img src="../../../assets/img/crecimiento.png" class="h-32" >
                <img src="../../../assets/img/floracion.png" class="h-32" >
                <img src="../../../assets/img/cosecha.png" class="h-32" >
            </div>
        </div>
    </div>
</div>
