
 <div class="container fondo ">
             
    <div class="container  xl:max-w-6xl mx-auto p-7 bg-2paleta h-auto">
        <div class="container  grid-rows-2 items-center justify-center">

    <div class="px-12 pt-10 container justify-center">
      <h2 class="titulo">Mis Huertos</h2>
        <div class="grid gap-5 columnas">
            <div   *ngFor="let cultivo of cultivos; index as i;"  >
                <mat-card  class="bg-white  card  text-black font-semibold  text-center border-4 border-black">
                    <div class="container bg-white ">

                        <img src='../../../assets/img/{{cultivo.img}}' >
                    </div>
                    <p class=" nombre text-">
                        {{cultivo.nombre}}
                    </p>
                </mat-card>
                        
            </div>
            <mat-card  class="bg-white  card text-blackfont-semibold text-center border-4 border-black">
                <div class="container object-center">

                    <img src='assets/img/add_huerto.svg' class="object-center" (click)="abrirDialogAddCultivo()" >
                </div>
            </mat-card>
          </div>
         </div>
        </div>
    </div>
</div>