<div class="  ">

    <div class="  xl:max-w-6xl sm:w-full w-auto mx-auto sm:p-4 p-2 bg-2paleta h-auto">
        <div class="  grid-rows-2 items-center justify-center">

            <div class=" ">
                <div class="pb-3 font-bold text-3xl tracking-wider text-center text-black">Mis Huertos</div>
                <div class="grid gap-5 columnas justify-items-center mt-8">
                    <div *ngFor="let cultivo of cultivos; index as i;">
                        <mat-card class="bg-white  cursor-pointer card  text-black font-semibold  
                        text-center border-4 border-black h-5/6 " href="/private/huerto"  (click)="huertoClick(cultivo.id) ">
                        <a  href="/private/huerto">
                            <div class="container bg-white ">

                                <img src='../../../assets/img/{{cultivo.img}}'>
                            </div>
                            <p class=" nombre text-">
                                {{cultivo.nombre}}
                            </p>
                        </a>
           
                        </mat-card>

                    </div>
                    <mat-card class="bg-white  cursor-pointer card text-black font-semibold text-center border-4 border-black">
                        <div class="container object-center">

                            <img src='assets/img/add_huerto.svg' class="object-center"
                                (click)="abrirDialogAddCultivo()">
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>