@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
h4 {margin: 0 !important;}
@import '~@fortawesome/fontawesome-free/css/all.css';
//@import "node_modules/font-awesome/css/font-awesome.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-dialog-container {
    background-color: #D3D7A2 !important;
  }
  
.mat-drawer, .mat-drawer-container{
  background-color: transparent;
}