@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
h4 {margin: 0 !important;}
@import '~@fortawesome/fontawesome-free/css/all.css';
//@import "node_modules/font-awesome/css/font-awesome.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* mat-dialog-container {
    background-color: unset !important;
  }
.mat-drawer, .mat-drawer-container{
  background-color: #021701;

}
.mat-drawer-content{
  background-color: rgba(255, 255, 255, 0.95);

} */
.mat-toolbar{
  height: unset;
}
.mat-drawer, .mat-sidenav ,mat-drawer-opened ,mat-drawer-over ,mat-sidenav-fixed{
  height: calc(100vh - 10rem) ;
}
